

/* =============================================================================
#GENERAL
============================================================================= */

body {
    background-color: hsl(0, 0%, 8%);
}

/* =============================================================================
  #TYPOGRAPHY
============================================================================= */

/* =============================================================================
  #CONTENT
============================================================================= */

main {
    background-attachment: red;
    width: 100%;
}

@media only screen and (min-width: 850px) {
    main {
        width: 80%;
        padding: 40px;
    }
}

@media only screen and (min-width: 1400px) {
    main {
        width: 60%;
    }
}

@media only screen and (min-width: 1900px) {
    main {
        width: 600px;
        
    }
}