@font-face {
    font-family: "Inter";
    src: url('assets/fonts/Inter-VariableFont_slnt\,wght.ttf');

    font-weight: 400;
    font-style: normal;
}

/* =============================================================================
#GENERAL
============================================================================= */

body {
    display: flex;
    justify-content: center;

    background-color: hsl(0, 0%, 8%);
    color: white;

    font-family: 'Inter', Arial, Helvetica, sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 14px;
}

/* =============================================================================
  #TYPOGRAPHY
============================================================================= */

/* =============================================================================
  #CONTENT
============================================================================= */

main {
    text-align: center;

    background-color: red;
}

/* @media only screen and (min-width: 850px) {
    main {
        width: 80%;
        padding: 40px;
    }
}

@media only screen and (min-width: 1400px) {
    main {
        width: 60%;
    }
}

@media only screen and (min-width: 1900px) {
    main {
        width: 600px;
        
    }
} */
